.*/
!.git/
.*
!.gitignore
.vscode

test.cpp

*
!/**/
!*.*

build/
build-*/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

Makefile
compile_commands.json
CMakeSettings.json
temp/

config.py
*.pyc
__py*

.idea
codes/
